
body{
	font-size: 16px;
	background: maroon;
	color: black;
font-family: 'Oxygen', sans-serif; 
}

#header-nav{
	background-color:yellow;
	border-radius: 0px; 	
}

.navbar-brand{
	padding-top: 25px;
	height: 80px;
	text-align: center;
}

.navbar a:hover ,.navbar-brand a:focus
{
	text-decoration: none;	
}


.navbar-brand  h1
{ 
/*font-family: 'Lora',serif;*/
text-align:center;
color: #557c3e;
font-size: 1.5em;
text-transform: uppercase;
font-weight: bold;
text-shadow: 1px 1px 1px #222;
margin-top: 0;
margin-bottom: 0;
line-height: .75;

}

#nav-list{
	margin-top: 10px;
}

#nav-list a{
	color:maroon;
	font-size: 1.5em;
	font-weight: bold ;
	text-align: center;
}

#nav-list a:hover{
	background: white;
}

#nav-list a span{
	font-size: 1.8em;
}


.navbar-toggle{
	position: :relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 5px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.navbar-toggle .icon-bar  {
	margin-top: 4px;
}

.navbar-header button.navbar-toggle,.navbar-header .icon-bar{
border:1px solid red;	
}

.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
}

.navbar-nav{
	margin:7.5px -15px;
}
.navbar-nav >li > a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
}

#chicken,#beef,#shushi{
height: 250px;
width: 100%;
color: white;
margin-bottom: 15px;
position: relative;
border:2px solid #3F0C1F;
overflow:auto;
padding: 10px 10px 10px 10px;
}

#chicken span,#beef span,#shushi span{
	position: absolute;
	text-align: center;
	top: 0;
	left:0;
	width: 100%;
	margin-bottom: 5px;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity:.8;
}

#chicken p,#beef  p,#shushi p
{
	padding: 10px 10px 10px 10px;
	}
	
	*{
		box-sizing: border-box;
	}